body {
    background-color: #fff;
    color: #1b1e21;
    line-height: 1.5em;
    padding: 1em;
    margin: auto;
    max-width: 70em;
    font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,monospace,sans-serif;
}

.navbar-item::before {
    content: "[ ";
}

.navbar-item::after {
    content: " ]"
}

a {
    color: #376392;
}

a:hover,
a:focus {
    color: #e8972c;
}

a:visited{
    color: grey;
}

.utterances{
    max-width: 100%;
}
.hr-middle-text{
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
}
.hr-middle-text:before {
    content: '';
    background: linear-gradient(to right, transparent, black, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
.hr-middle-text:after{
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    background-color: #fcfcfa;
}

